@import "common.less"

#colors() {
  primary: blue;
  secondary: green;
}

// #bundle() {
//
//   .button {
//
//     display: block;
//     border: 1px solid black;
//     background-color: grey;
//
//     &:hover {
//       background-color: white;
//     }
//   }
//
// }


// conversion is impossible
// @incompatible-units: 2 + 5px - 3cm;

.bordered {
  border-top: dotted 1px black;
  border-bottom: solid 2px black;
}

.block {
   header {
      .counter {
        .any {
          display: block;


        }
      }
   }
}