@use "sass:math";
@use "sass:map";
@use "sass:string";
@use "theme";

@use "sass:color";

.btn-primary {
  width: color.change($color);
  border-radius: 4px;
  border-width: 1px;
  border-style: solid;
  cursor: pointer;

  color: theme.$accent-color
}

.btn-danger {
  color: $accent-color;
  border-radius: 4px;
  border-width: 1px;
  border-style: solid;
  cursor: pointer;
}


@keyframes identifier {
  0% {
    top: 0;
    left: 0;
  }
  30% {
    top: 50px;
  }
  68%,
  72% {
    left: 50px;
  }
  100% {
    top: 100px;
    left: 100%;
  }
}

@media screen {
    
}
